{% extends 'layout/layout.html' %}
{% load static %}

{% block contenido %}
    <h1 class="bg-primary p-1 mt-3">Salas <i class="bi bi-plus-square-fill" id="btn_agregar_sala" role="button"></i></h1>

    <table class="table table-striped table-hover" id="tbl_sala">
        <thead>
            <tr>
                <th>No</th>
                <th>Descripción</th>
                <th>Asientos</th>
                <th>Disponibilidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Sala 3</td>
            </tr>
        </tbody>
    </table>
    {% include 'sala/agregar.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/sala/main.js' %}" type="module"></script>
{% endblock %}