  <!-- Modal -->
  <div class="modal fade" id="mdl_agregar_cartelera" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form_guardar_cartelera">
            {% csrf_token %}
            <div class="mb-3">
                <label for="horario" class="form-label">Horario</label>
                <select class="form-control" name="horario" id="horario"></select>
            </div>
            <div class="mb-3">
                <label for="sala" class="form-label">Sala</label>
                <select class="form-control" name="sala" id="sala"></select>
            </div>
            <div class="mb-3">
              <label for="pelicula" class="form-label">Película</label>
              <select name="pelicula" id="pelicula" class="form-control">
                <option value="">------Seleccione pelicula------</option>
            </select>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" class="form-control" step="0.0" id="precio" name="precio">
          </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary" id="btn_guardar_cartelera">Guardar</button>
        </div>
      </div>
    </div>
  </div>