  <!-- Modal -->
  <div class="modal fade" id="mdl_agregar_horario" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form_guardar_horario">
            {% csrf_token %}
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" name="fecha">
            </div>
            <div class="mb-3">
                <label for="inicia" class="form-label">Inicia</label>
                <input type="time" class="form-control" id="inicia" name="inicia">
            </div>
            <div class="mb-3">
                <label for="finaliza" class="form-label">Finaliza</label>
                <input type="time" class="form-control" id="finaliza" name="finaliza">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary" id="btn_guardar_horario">Guardar</button>
        </div>
      </div>
    </div>
  </div>