{% extends 'layout/layout.html' %}
{% load static %}

{% block contenido %}
    <h1 class="bg-primary p-1 mt-3">Horarios <i class="bi bi-plus-square-fill" id="btn_agregar_horario" role="button"></i></h1>

    <table class="table table-striped table-hover" id="tbl_horario">
        <thead>
            <tr>
                <th>No</th>
                <th>Horario</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>13:00 - 15:00</td>
                <td>12/10/2023</td>
            </tr>
        </tbody>
    </table>
    {% include 'horario/agregar.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/horario/main.js' %}" type="module"></script>
{% endblock %}