{% extends 'layout/layout.html' %}
{% load static %}

{% block contenido %}
    <h1 class="bg-primary p-1 mt-3">Tickets vendidos</h1>

    <table class="table table-striped table-hover" id="tbl_ticket">
        <thead>
            <tr>
                <th>No</th>
                <th>Película</th>
                <th>Sala</th>
                <th>Monto</th>
                <th>Usuario</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Subtotal</th>
                <th id="subtotal">Q. 0.0</th>
            </tr>
        </tfoot>
    </table>
    {% include 'pelicula/agregar.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/ticket/main.js' %}" type="module"></script>
{% endblock %}