<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Cine</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="navbar-brand" aria-current="page" href="{% url 'ver_horario' %}">Horarios</a>
                    <a class="navbar-brand" aria-current="page" href="{% url 'ver_sala' %}">Salas</a>
                    <!-- <a class="navbar-brand" aria-current="page" href="{% url 'ver_asiento' %}">Asientos</a> -->
                    <a class="navbar-brand" aria-current="page" href="{% url 'ver_pelicula' %}">Películas</a>
                    <a class="navbar-brand" aria-current="page" href="{% url 'ver_cartelera' %}">Cartelera</a>
                    <a class="navbar-brand" aria-current="page" href="{% url 'taquilla' %}">Taquilla</a>
                    <a class="navbar-brand" aria-current="page" href="{% url 'ver_ticket' %}">Tickets</a>
                  </li>
                </ul>
                <h5 class="d-flex">
                  <i class="bi bi-door-open-fill">
                    <a class="navbar-brand" aria-current="page" href="{% url 'logout' %}">Salir</a>
                  </i>
                </h5>
              </div>
            </div>
          </nav>
        <!-- Content here -->
        {% block contenido %}
        {% endblock %}
    </div>
    
</body>
{% block scripts %}
{% endblock %}
</html>