  <!-- Modal -->
  <div class="modal fade" id="mdl_agregar_pelicula" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form_guardar_pelicula">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="genero" class="form-label">Género</label>
                <input type="text" class="form-control" id="genero" name="genero">
            </div>
            <div class="mb-3">
                <label for="clasificacion" class="form-label">Clasificación</label>
                <input type="text" class="form-control" id="clasificacion" name="clasificacion">
            </div>
            <div class="mb-3">
                <label for="duracion" class="form-label">Duración</label>
                <input type="text" class="form-control" id="duracion" name="duracion">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn_guardar_pelicula">Guardar</button>
        </div>
      </div>
    </div>
  </div>