{% extends 'layout/layout.html' %}
{% load static %}

{% block contenido %}
    <h1 class="bg-primary p-1 mt-3">Películas <i class="bi bi-plus-square-fill" id="btn_agregar_pelicula" role="button"></i></h1>

    <table class="table table-striped table-hover" id="tbl_pelicula">
        <thead>
            <tr>
                <th>No</th>
                <th>Descripción</th>
                <th>Género</th>
                <th>Clasificación</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    {% include 'pelicula/agregar.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/pelicula/main.js' %}" type="module"></script>
{% endblock %}