<div class="modal fade" tabindex="-1" id="mdl_confirmar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generar Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    {% csrf_token %}
                    <p id="ver_pelicula"></p>
                    <p id="ver_precio"></p>
                    <p id="ver_horario"></p>
                    <p id="ver_sala"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn_confirmar">Confirmar</button>
            </div>
        </div>
    </div>
</div>