{% extends 'layout/layout.html' %}
{% load static %}

{% block contenido %}
    <h1 class="bg-primary p-1 mt-3">Taquilla <i class="bi bi-plus-square-fill" id="btn_agregar_sala" role="button"></i></h1>

    <div class="row justify-content-center" id="taquilla">
        <div class="card m-1" style="max-width: 20%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'img/pelicula.png' %}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with .</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>
    </div>
    {% include 'taquilla/confirmar.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/taquilla/main.js' %}" type="module"></script>
{% endblock %}