  <!-- Modal -->
  <div class="modal fade" id="mdl_agregar_asiento" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form_guardar_asiento">
            {% csrf_token %}
            <div class="mb-3">
                <label for="numero" class="form-label">Número</label>
                <input type="number" class="form-control" id="numero" name="numero">
            </div>
            <div class="mb-3">
                <label for="fila" class="form-label">Fila</label>
                <input type="number" class="form-control" id="fila" name="fila">
            </div>
            <div class="mb-3">
                <label for="sala" class="form-label">Sala</label>
                <select name="sala" id="sala" class="form-control">
                  <option value="">------Seleccione la sala------</option>
                </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary" id="btn_guardar_asiento">Guardar</button>
        </div>
      </div>
    </div>
  </div>