{% extends 'layout/layout.html' %}
{% load static %}

{% block contenido %}
    <h1 class="bg-primary p-1 mt-3">Asientos <i class="bi bi-plus-square-fill" id="btn_agregar_asiento" role="button"></i></h1>

    <table class="table table-striped table-hover" id="tbl_asiento">
        <thead>
            <tr>
                <th>No</th>
                <th>Número</th>
                <th>Fila</th>
                <th>Sala</th>
                <th>Disponibilidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>3</td>
                <td>5</td>
                <td>Sala 3</td>
                <td>Disponible</td>
            </tr>
        </tbody>
    </table>
    {% include 'asiento/agregar.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/asiento/main.js' %}" type="module"></script>
{% endblock %}